.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    @media (min-width:$desktop-width) {
        flex-direction: row;
        margin-bottom: 5rem;
    }
}

.input-group__item{
    margin-right: 2rem;
    margin-bottom: 2rem;
    @media (min-width:$desktop-width) {
        margin-bottom: 0rem;
    }

}